<!DOCTYPE html>
<html>
<head>
    <title>Agritech Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/chat">Chat(AI)</a></li>
            <li><a href="/crop">Crop Planning</a></li>
            <li><a href="/community">Community</a></li>
        </ul>
        <div class="login-icon">
            <a href="#"><img src="/static/user.png" alt="User Icon"></a>
            <div class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/settings">Settings</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
